[2021-03-03 13:34] davegomez opened #2 "Use the plugin with esbuild watch mode"
Hello, and thanks for the plugin.

I'm trying to use the plugin with my build following the README instructions without any additional configuration and using a simple import in my React code, but I can't make it work with watch mode, so when I make changes to my `./styles/main.scss` file the build doesn't run again.

[code]

[code]

Thank you for any help you can provide.

[2021-03-03 15:51] glromeo commented on #2
Hi Dave,

thank you for using my plugin. Unfortunately esbuild in watch mode doesn't look at the files that have been resolved and loaded by the plugin and even if I watch the FS within the plugin I wouldn't know how to notify the esbuild process to trigger a rebuild. I will look into the options to address this but in the meanwhile let me suggest an alternative approach (i.e. watch in javascript)

[2021-03-03 16:01] glromeo commented on #2
It's worth watching [this issue](https://github.com/evanw/esbuild/issues/808)

[2021-03-03 18:13] davegomez commented on #2
Thank you for the swift response @glromeo.

I got it working now and this is my config in case you can take anything from it or just give me some feedback:

[code]

[2021-03-04 08:40] glromeo commented on #2
Thank you for your example config @davegomez  I found it interesting...
Just out of curiosity, do you really need main, module and browser pkgs to be built in sequence? 🤔

Can you try this for me
[code]
...and tell me if you get any benefits from running in parallel?

[2021-03-04 08:54] glromeo commented on #2
I added a new feature in 1.0.8 so now you can share the cache between different runs.
Just create a map and pass it to the plugin like this:

[code]

I hope this should give you quite an improvement in parallel, let me know

[2021-03-04 14:32] davegomez commented on #2
This is so cool @glromeo, thanks!

[2021-03-04 14:32] #2 closed

[2021-03-06 10:56] zaydek commented on #2
@glromeo I wanted to share, assuming you didn’t know this already, that esbuild’s incremental API is very simple. When incremental is set to true, you can call `rebuild` on the returned `esbuild.BuildResult`, so you can programmatically rebuild esbuild.

[2021-03-06 13:04] glromeo commented on #2
Thank you @zaydek, indeed as you can see on my very first post I was suggesting @davegomez to use the incremental API 😉

[2021-03-10 14:21] davegomez commented on #2
Thank you @glromeo and @zaydek for the comments. I tried at the beginning to use the incremental API but I'm not sure how to do it effectively with my current implementation and needs.

I'll give it another try tho.

[2021-03-11 04:10] FailLone opened #3 "why not set a resolve directory when the type is "css"?"
I got this error when using the plugin:
![image](https://user-images.githubusercontent.com/11540557/110734180-3a36ae00-8262-11eb-8018-0351e11e3d19.png)

but, in your code, this looks like intentional:
[code]
so, why not set a resolve directory when the type is "css"? and how to resolve this problem?

[2021-03-11 09:50] glromeo commented on #3
Thank you for using the plugin, admittedly that was just inattention. Please update to 1.0.10.

[2021-03-15 08:59] #3 closed

[2021-03-23 13:08] GravlLift opened #4 "Issues importing fonts via url when bundling"
I'm running into issues when attempting to use the open-iconic package with this plugin. My esbuild configuration looks like so:

[code]

styles.scss contains the line...
[code]

which in turn contains...
[code]

and finally when run, the build returns this exception
[code]

If I set `bundle` to `false` in the esbuild configuration, the file executes without error, however the relative url paths r

[2021-03-23 14:37] davegomez opened #5 "Cache doesn't let apply the changes to the output file."
Sup @glromeo, I'm here again abusing of your time.

While working on the SASS files in my project, I noticed the changes I made weren't being applied to the output file even when my dev server detected the "changes" and reloaded the browser.

I knew it because I checked the output CSS file and the changes weren't there.

So I disabled the cache in the plugin and everything started working again.

[2021-03-23 18:31] GravlLift commented on #4
The issue seems to have vanished with no actual changes on my part. Not too sure how to interpret that. Guess we can close this though.

[2021-03-24 14:14] glromeo commented on #5
Hola Dave,

your setup is interesting because you have two instances of the plugin. As of now the plugin checks the file modified time to be sure the cached entry is not stale so the only explanation I can come with is that you are running in the issue explained in `atomic` setting of chokidar. To be sure please change:
[code]
to
[code]
This should cater for missing `change` events and also give a

[2021-03-24 17:44] glromeo commented on #4
Interesting issue,
luckily you don't need the css as module so you can rely on esbuild fixing it for you...
make sure that you change $iconic-font-path to a bare module url in your **styles.scss**:
[code]
The question is... how do I fix that for css modules?
![bitmoji](https://sdk.bitmoji.com/render/panel/debd0644-c4b9-4157-9c4d-b4dea6359bc4-774bf184-bc1c-4f48-a627-8361720afa10-v1.png?transparent=

[2021-03-25 13:27] davegomez commented on #5
👋 @glromeo.

I tried applying your changes only and also enabling the cache only for `buildBrowser` with no different results; the output CSS file is not updating.

Also, any of these two events ever triggered after several changes to the SASS files:
[code]

This is my config with a scoped `cache`:
[code]

[2021-03-25 21:40] glromeo commented on #5
@davegomez my sincere apologies for wasting your time... it was a bug in the modification time check ![bitmoji](https://sdk.bitmoji.com/render/panel/626dd453-b50e-4ee9-9dce-86d306043c85-774bf184-bc1c-4f48-a627-8361720afa10-v1.png?transparent=1&palette=1&width=246)
Please update to the v1.2.0 which I just released

[2021-03-26 07:46] davegomez commented on #5
Not at all @glromeo, thank you for taking the time to look into this.

I'll give it a try later today, and I'll let you know if everything is working correctly.

[2021-04-09 18:52] 58bits opened #6 "Imports from node_modules"
I'm trying to use the material-components-web package https://github.com/material-components/material-components-web.

I can create node_modules specific imports like - `@use "../../../node_modules/@material/theme"` - but within the material components themselves, there are additional `@forward`, `@use`, `@import` statements that will not resolve.

Ideally I'd like to be able to use

[code]
 or
[c

[2021-04-12 22:36] glromeo commented on #6
HI @58bits  my plugin already uses resolve for sass imports
https://github.com/glromeo/esbuild-sass-plugin/blob/43737116a7d4fb2360b3d9eedc39ad9e249bba55/lib/plugin.js#L74-L77
but it might be that your layout doesn't work with require defaults... try and pass an `includePaths` that points to your node_modules, something like this:
https://github.com/glromeo/esbuild-sass-plugin/blob/43737116a7d4fb23

[2021-04-12 22:38] glromeo commented on #5
@davegomez any joy with this issue?

[2021-04-12 22:39] #4 closed

[2021-04-13 00:07] 58bits commented on #6
Hi @glromeo  - thanks very much for taking the time to reply. I've tried updating sassPlugin settings as you've described above, but I'm still getting `error: [sass-plugin] Can't find stylesheet to import`

I'm new to esbuild, and so it's highly likely I've  setup something incorrectly.

I've create a test repo here... https://github.com/58bits/esbuild-test

Can you see anything obviously wrong wi

[2021-04-13 07:58] 58bits commented on #6
Hi - I've updated the test repo at https://github.com/58bits/esbuild-test

I've fixed up all @use statements, and changed the build directory and project structure. I'm also using the `~` syntax to specific material modules - and this works, but then there are sub modules, or dependencies that fail.

I'm only attempting to import one component - via `src/styles/components/_year-select.scss`

And I

[2021-04-13 14:00] davegomez commented on #5
Hello @glromeo. I'm sorry for the delay but I have been very busy lately and didn't have the time to try it.

In short, is not working for me. The page refreshes after the changes are made in the SCSS files but the actual changes are not present in the compiled CSS file.

This is my current configuration. I might be doing something wrong:

[code]

I wish I could use the [watch API](https://esbuild

[2021-04-27 00:17] rosenfeld opened #7 "Add support for the incremental/watch mode"
It's now possible to tell esbuild which files are being watched for the incremental/watch mode to work. Just return the `watchFiles` in the `onResolve`. Take a look at this, for an example:

https://github.com/koluch/esbuild-plugin-sass/blob/main/index.ts#L45

Could you please support this in this plugin, so that it would also watch for changes to our sass files?

I'm switching from `esbuild-plugi

[2021-04-27 23:31] glromeo commented on #5
@davegomez I added support for esbuild's watch mode in v1.3.0 🥳 🎉

[2021-04-27 23:35] glromeo commented on #7
@rosenfeld please update to v1.3.0
![bitmoji](https://sdk.bitmoji.com/render/panel/5b7bff30-d7cc-4141-9f91-d77fa135057f-774bf184-bc1c-4f48-a627-8361720afa10-v1.png?transparent=1&palette=1&width=246)

[2021-04-27 23:35] #7 closed

[2021-04-27 23:43] rosenfeld commented on #7
Awesome, thanks!

[2021-04-28 07:50] glromeo commented on #6
@58bits

According to https://github.com/material-components/material-components-web/tree/master/packages/mdc-select
you have to change your `_year-select.scss` to:

[code]

then in `build.js` just use this setup for esbuild-sass-plugin:

[code]

[2021-04-28 07:50] #6 closed

[2021-04-29 16:38] davegomez commented on #5
Awesome news @glromeo, thank you for the hard work.

[2021-04-29 16:38] #5 closed

[2021-05-10 17:22] eknkc opened #9 "node-sass dependency"
Hi!

Is there a particular reason that `node-sass` is a peer dependency? npm 7 now installs peer dependencies automatically so the plugin installs both sass and node-sass.

Can we remove it if it is not required for the plugin functionality?

Thanks!

[2021-05-10 21:03] glromeo commented on #9
Thank you for your heads up @eknkc ...I definitely don't want that behaviour! I am going to remove node-sass peer dependency right away!

[2021-05-10 21:03] #9 closed

[2021-05-11 09:16] eknkc commented on #9
Thanks a lot!

[2021-05-15 18:53] colinhowells commented on #2
Wrestled with this but got something going compiling css on saving `.scss` files, which requires a little more config than `.js`. Hope this saves people some time – I'm sure it could be refined and I'm sure I'm making some rookie errors so if anyone has any suggestions I'd love to hear them ...

This is using [Estrella](https://github.com/rsms/estrella) but it's not necessary.

[code]

[code]

[2021-05-26 14:24] Minnozz opened #11 "`cache` does not track dependencies on other files"
Example:
* Cache is enabled by passing a `Map` to the `cache` option
* `entry.scss` imports `bar.scss`
* After the initial build, `bar.scss` is changed
* An incremental build is started
* `transform` is called for `entry.scss`
* `entry.scss` is in the cache and that file itself has not been changed, so the cached transform result with the old contents of `bar.scss` is returned
* The cache is never

[2021-05-26 14:30] Minnozz commented on #11
It seems like this case is described in the [esbuild docs](https://esbuild.github.io/plugins/#caching-your-plugin):

[2021-05-26 15:50] glromeo commented on #11
Hi Bart, thank you for pointing this out...
sass gives me the files that I should track and as of now I pass those on to esbuild.
I was expecting it to magically deal with dependencies but thinking it twice it's not its task!
I could check not just the main file but also the dependencies using fs.stat but I would like to find a way to make the cache better than it is right now rather than worse of

[2021-05-27 03:22] glromeo commented on #11
Hi Bart
version v1.4.1 should have (I hope) fixed the cache issue with sass imports
let me know how it goes

[2021-05-27 09:42] glromeo commented on #11
At the end the fix I applied is to check for all the imported file mtimes so it should work regardless of watch mode

[2021-05-27 13:17] onox opened #12 "Compatible with esbuild-plugin-pnp?"
I'm having trouble getting your plugin to work when using Yarn 2's Pnp feature. I get a lot of the following errors:

[code]

when importing Sass with `import styles from "./MyComponent.scss"`

Reproduction at https://github.com/onox/yarn-esbuild-bug/tree/2d64c69b780ced693ae9889b38fe3cda1d954976 Run with `yarn install` and then `yarn build`.

I also had to add a dummy node_modules folder.

[2021-05-27 16:57] Minnozz commented on #11
Seems to work with your fix, thanks for the quick update!

[2021-05-27 20:42] #11 closed

[2021-05-27 20:59] glromeo commented on #12
Thank you @onox  for pointing me at yarn pnp... I didn't know about it and it's a nice discovery!
I am looking at your repo and I hope I can find a solution for your issue soon!

[2021-05-28 00:34] glromeo commented on #12
I fixed the compatibility problems and now your project works fine for me, please upgrade to v1.4.3

I also added bootstrap as a dependency to your example to verify that @imports work fine

https://github.com/glromeo/esbuild-sass-plugin/blob/e1befa7a71dd7d94fca79c29a9df0c5c9eaa177f/test/fixture/pnp/src/index.js#L4

and with some little adjustmentsto esbuild-plugin-pnp...

https://github.com/glrom

[2021-05-28 18:03] onox commented on #12
Hi, thanks, I get a `out.css` file now :+1: If I print `styles` in src/index.js then I get an empty object, but from ESBuild's documentation it appears it doesn't CSS modules yet.

Btw, you might want to remove esbuild-plugin-postcss2 in your test fixture, I only added it for @merceyz, one of the Yarn developers.

[2021-05-28 18:16] #12 closed

[2021-06-04 14:54] karl-thomas opened #13 "Plugin fails when the import is an HTTP link"
Howdy there, I'm trying to convert our build process to use esbuild, and working with your plugin so far has been great, but I'm having an issue where  the plugin tries to resolve links that are used as imports when `bundle: true`. [Here is a link](https://github.com/karl-thomas/sass-esbuild-repro) to a repo that I used to reproduce the error, just pull it, install, and run `node index.js` and you

[2021-06-04 20:52] glromeo commented on #13
Hi Karl, I see why you're getting frustrated but don't worry I have an easy fix for you.

I released a new version of the plugin ([1.4.4](https://www.npmjs.com/package/esbuild-sass-plugin/v/1.4.4)) that accepts an ```exclude``` option which allows you let the plugin skip urls and everything flows through as it uses to do in esbuild.

I was toying with the idea of making the plugin able to resolve

[2021-06-05 06:38] karl-thomas commented on #13
That's great! I pulled it down and it worked great. As a note it did not seem to work with `@use` function, but that's not a blocker for me. And yeah, I don't have an explicit use case for bundling the downloaded files together either. Thanks for getting back to me so quickly, I appreciate it.

[2021-06-05 06:38] #13 closed

[2021-06-11 11:50] Minnozz opened #14 "Add support for workspaces when resolving imports"
The current importer finds the first `node_modules` directory and tries to resolve imports in that directory. However, when you use yarn or npm workspaces, a `node_modules` directory may also exist in the parent directory (not sure how many levels) and I believe they should all be tried when resolving an import.

[2021-06-11 11:51] Minnozz commented on #14
I'm not sure what the default behaviour is when you don't pass a resolver to sass; maybe it already works in that case? Or maybe you can use `includePaths` instead of doing the resolution yourself? (Not sure if that supports `~tilde` imports).

[2021-06-11 14:49] glromeo commented on #14
Hi Bart

You're right and the reason it doesn't is because I opted for a quick and dirty hack to get the path to the sass module
https://github.com/glromeo/esbuild-sass-plugin/blob/9d4ea833709ef871ba11bef27724fe35abeb3344/src/importer.ts#L27
I did that because I thought a full fledged node resolution is a drag for performance... maybe I can give it some thoughts and try and improve it...

Nope, un

[2021-06-11 17:01] Minnozz commented on #14
Thank you!

I've currently found a workaround by passing both `node_modules` paths to the `includePaths` option.
According to https://sass-lang.com/documentation/js-api#importer, `includePaths` are tried after the custom importer, but it seems to work anyway.

[2021-06-11 17:24] glromeo commented on #14
@Minnozz v1.4.5 should fix this issue

[2021-06-12 21:15] #14 closed

[2021-06-12 22:13] Minnozz commented on #14
I've tried v1.4.5 and unfortunately it didn't work for me. I've taken another look at the importer and I think I simplified the logic to that in #16. Could you take a look?

[2021-06-19 22:44] jakajancar opened #17 "quietDeps does not seem to work, still emits warnings for deps"

[2021-06-20 00:39] glromeo commented on #17
Hi @jakajancar thank you for the heads-up... I can see here https://github.com/sass/sass/issues/3065 that this was an issue with dart-sass. I have released v1.4.7 in which I have upgraded sass to 1.35.1. This should fix the issue

[2021-06-20 00:47] jakajancar commented on #17
I'm still seeing the warnings:

[code]

:/

[2021-06-20 10:32] glromeo commented on #17
That might be because [as per sass docs](https://sass-lang.com/documentation/js-api#quietdeps)

[I was able to silence the warnings](https://github.com/glromeo/esbuild-sass-plugin/commit/a2cf9c9366563dc20d919839ca3bf0aa9d36fe97) and now my tests don't show any even with bootstrap

Have a look at this example

https://github.com/glromeo/esbuild-sass-plugin/blob/a2cf9c9366563dc20d919839ca3bf0aa9d36f

[2021-06-20 10:32] #17 closed

[2021-06-22 08:08] calmyournerves opened #18 "Multiple files with the same name results in only one file being imported"
Hey there!

We noticed a problem when multiple `.scss` files with the same name but in different folders are imported via JS. The resulting output file only includes the styles of one of the files.

## Example:

#### **`entrypoint.js`**
[code]

#### **`component_a/index.js`**
[code]

#### **`component_a/style.scss`**
[code]

#### **`component_b/index.js`**
[code]

#### **`component_b/style.scss`**

[2021-06-22 08:10] calmyournerves commented on #18
Oh and I forgot to add: Thanks for creating this plugin, it helps us a lot 🙂

[2021-06-22 10:56] glromeo commented on #18
Hi @calmyournerves thank you for your help in getting to the bottom of this issue, I do really appreciate it!

I have a fix for it in [v1.4.8](https://www.npmjs.com/package/esbuild-sass-plugin)

[2021-06-22 10:56] #18 closed

[2021-06-23 06:38] calmyournerves commented on #18
Hey @glromeo

Thanks so much for fixing this so quickly!

[2021-07-28 19:28] GravlLift opened #19 "Relative Url Rewriting"
[Sass doesn't like relative urls in non-entry files.](https://github.com/bholloway/resolve-url-loader/tree/v4-maintenance/packages/resolve-url-loader#whats-the-problem-with-sass) Webpack gets around this shortcoming with the [resolve-url-loader plugin](https://github.com/bholloway/resolve-url-loader), which [uses sourcemaps generated by Sass to rewrite the urls after the compilation has completed]

[2021-07-29 00:59] glromeo commented on #19
Sorry @GravlLift but what you ask for is a feature I don't intend to implement.
If there's an issue for a developer that is conceptually not in esbuild+sass but rather in sass itself.
I understand that having a single sass entry file can be more efficient or if you prefer more in line with the mindset of a web designer but it's not within the scope of this plugin.
For the workflows I am keen to su

[2021-07-29 00:59] #19 closed

[2021-08-05 07:29] ArthurHeitmann opened #20 "If esbuild is in watch mode and there is an error in sass, the plugin stops working"
So far everything has been working great except for this one thing.

My setup:

[code]

If I do any valid changes to test.scss, everything works great.

When there is an error in tests.scss (missing semicolon), the error is displayed as expected. But when fixing the error or doing any other changes to test.scss nothing happens. You then have to manually restart the script.

[2021-08-05 18:46] Canuckaholic opened #21 "Support for new math.div Sass module"
I have some SCSS that uses "/" to perform a division operation, but this produces a deprecation warning:

[code]

If I change this to use "math.div" I get the following error:

[code]

Suggestions?

[2021-08-06 06:05] ArthurHeitmann commented on #21
I'm using `"sass": "^1.37.5"` and `math.div` works for me. Maybe try updating sass?

[2021-08-06 07:00] glromeo commented on #20
I could fix this issue by handling more gracefully the errors but at best I would have to cache the watchedFiles from the last successful build which I'd rather not do because esbuild does it already.
It wouldn't make the plugin slower but it would make it more memory hungry and I don't like that.
Let's keep this issue open until we see where esbuild goes with the issue #1063, I will then provide

[2021-08-06 10:06] ArthurHeitmann commented on #20
I see the problem. In the meanwhile I have a fix on my [fork](https://github.com/ArthurHeitmann/esbuild-sass-plugin). I don't really know much about sass compilation or esbuild plugins, so I don't know if I missed something.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- someone on reddit

[2021-08-06 10:10] glromeo commented on #21
@Canuckaholic please update to v1.4.10

[2021-08-06 10:10] #21 closed

[2021-08-06 10:13] glromeo commented on #20
Given the cache is used only in watch mode I ended up providing a fix in v1.4.10

[2021-08-06 10:13] ArthurHeitmann commented on #20
Seems we were thinking the same things. Thank you

[2021-08-06 10:21] glromeo commented on #20
Sorry I wasn't paying attention... your PR would have been welcome.

[2021-08-06 10:39] ArthurHeitmann commented on #20
Did you forget to run `tsc` before publishing? Because in the plugin.ts [it says](https://github.com/glromeo/esbuild-sass-plugin/blob/main/src/plugin.ts#L197) `build.initialOptions` and in plugin.js [it just says](https://github.com/glromeo/esbuild-sass-plugin/blob/main/lib/plugin.js#L174) `build`. And btw. the watch parameter can also be false :)

[2021-08-06 11:01] glromeo commented on #20
@ArthurHeitmann thanks for spotting it! I need to improve my publish pipeline 🤦‍♂️

[2021-08-06 11:07] glromeo commented on #20
Ok, fixed that in v1.4.11

[2021-08-06 11:07] #20 closed

[2021-08-11 03:11] JacobWeinbren opened #23 "Support for previous methods of import in SASS"
Hi - thanks for making this plugin, it is really useful.

My issue is SASS dependencies often use the now (depreciated) ~ (tilda) to import from node modules.

This produces the following error on the plugin.

[code]

For record, this is is produced the following line of code `@import "~@aotearoan/sass-farbig";` in `theme.scss` using the latest versions of esbuild and esbuild-sass-plugin.

I have

[2021-08-11 07:29] glromeo commented on #23
@JacobWeinbren the error you see is due to the importer within the plugin not being able to resolve mathsass/dist/math because it is a fragment (the file is _math.scss which is ignored by the resolve.sync method used by the importer which is really meant for node rather than sass and its convoluted resolution mechanism). I have a fix for that and you can find it in v1.4.13

[2021-08-11 07:29] #23 closed

[2021-08-11 16:52] JacobWeinbren commented on #23
@glromeo Thank you it works now.

[2021-08-12 15:37] gregorypratt opened #24 "NoSuchMethodError: method not found: 'get$iterator'"
When I run my esbuild command using the below config I receive the following error everywhere scss files are imported:

[code]

I'm new to esbuild so apologies if it's not setup correctly but I'm stuck as to how to solve this?

**esbuild.js:**

[code]

[2021-08-12 16:52] glromeo commented on #24
No worries, the problem is just that [includePaths is an array](https://sass-lang.com/documentation/js-api#includepaths)!
Change it to:

```includePaths: [path.resolve(__dirname, "node_modules")]```

otherwise your setup is ok

[2021-08-12 16:52] #24 closed

[2021-08-14 12:33] glromeo commented on #24
@gregorypratt I couldn't help noticing that you are trying to use my plugin together with scssModulesPlugin and I don't know whether that mix is really going to work for you. It was long time I wanted to add css modules to my plugin too and this has been the occasion for me to get a move on and add that feature.

I invite you to try and look [here](https://github.com/glromeo/esbuild-sass-plugin/tr

[2021-08-18 10:02] visamz opened #25 "why `require.resolve` is set to cwd ?"
https://github.com/glromeo/esbuild-sass-plugin/blob/ccfa67a1ffcbbf0bc117b19a239e457e469c280e/lib/utils.js#L6

when my esbuild cli was installed in global，and also installed node-sass, then get:
[code]
But, i don't want to install  'node-sass' in my   project directory, because it only need in building time and has nothing to do with the project business.

[2021-08-18 10:35] glromeo commented on #25
@visamz I would suggest you to use dev dependencies instead of global for development tools in  order to keep your project neatly self contained.

Nevertheless I see I made a mistake assuming resolve would fall back to global modules if it can’t find them locally and I want to look into fixing that without requiring the users to fiddle with environment variables, links or other annoying shaman rit

[2021-08-18 13:04] glromeo commented on #25
@visamz please update to v1.5.1. From that version `includePaths` will be used by **require.resolve** and you can get your build to work like explained in the examples provided in the [test/issues/25 folder](https://github.com/glromeo/esbuild-sass-plugin/tree/main/test/issues/25)

[2021-08-18 13:04] #25 closed

[2021-08-19 02:12] visamz commented on #25
Thanks.

er, maybe i said was not clear....

I am making cli tool for my team with  esbuild, it can be installed in global.  The tool contain node-sass,  be installed in dev dependencies at cli tool dir, but not in bussiness dir.

That means, cli tool dir is not bussiness project dir, node-sass was not installed in global. Of course , node-sass  may also be installed globally.

I think,  esbuild-s

[2021-08-19 02:34] visamz commented on #25
I think be better like this:

[code]

[2021-08-19 09:23] glromeo commented on #25
Admittedly I am a bit confused by your explanation but I understand what you want to do with your code example.

You will find the change in v1.5.2...

https://github.com/glromeo/esbuild-sass-plugin/blob/9759a6ff4b698acd7126b7237a10ff549b43389b/src/utils.ts#L6-L17

**NOTE**: Finding a co-located tool is an exception not the rule

I hope this helps, please let me know if it does!

[2021-08-19 09:37] visamz commented on #25
@glromeo That's worked,  thinks.

[2021-10-04 20:21] idlist opened #29 "Question: is there some way to remain the path in `url()` as is?"
For example, I currently have something like:

[code]

And the `url` here is the path directly to where the font file would be in the output directory (since I would manually copy the `public` folder to the output directory) instead of where the source of the font is.

Currently, with `bundle: true` (i.e. I want to bundle the `.sass` files), The only way I have figured out to make this piece of co

[2021-10-05 00:10] glromeo commented on #29
I would suggest you look at the [`external` option of esbuild](https://esbuild.github.io/api/#external) or try something like this:

[code]

[2021-10-05 00:10] #29 closed

[2021-10-05 00:25] glromeo commented on #29
I tried this in your project and it works for me:

![image](https://user-images.githubusercontent.com/160981/135941751-7d442707-524b-4330-8e20-889ce1afcc00.png)

[2021-10-05 04:07] idlist commented on #29
Thanks!

I have found the main point is that the path in the `external` option should be corresponding to the one in `url` in the Sass file.

For example, if `external: ['public/*']`, then `url('public/*')` would be excluded by esbuild, and if I want to exclude `url('/public/*')`, then I should set `external: ['/public/*']` in esbuild.

[2021-10-05 06:31] idlist opened #30 "Bump esbuild version to v0.13"
I see the `package.json` is still using esbuild v0.12, and could you please bump esbuild to v0.13 if there is no compatibility issue?

[2021-10-05 08:37] glromeo commented on #30
done in v1.6.1

[2021-10-05 08:37] #30 closed

[2021-10-06 09:16] n19htz opened #31 "[version 1.6.1] Error: Do not know how to load path: sass:/path/to/_file.scss"
After upgrading to v1.6.1 getting error in the title for all scss file imports

[2021-10-06 10:05] n19htz commented on #31
basically, I got custom path resolver plugin for esbuild. This plugin conditionally resolves path for .scss files and in onResolve hook forwards it to esbuild-sass-plugin for further processing, i e
[code]

on version < 1.6.0 it works like a charm, but after 1.6.0 its broken

[2021-10-06 10:25] #31 closed

[2021-10-06 11:26] glromeo commented on #31
I am investigating the direction to take with the plugin to make the resolution more flexible and you are actually giving me a good idea on how to do so without putting the burden on the plugin!

Essentially breaking down the plugin into a resolver and a loader...

I will probably have to change the namespace naming logic but I will likely make it explicit so that you can give a namespace to a loa

[2021-10-13 21:03] Miosame opened #33 "scoped scss"
New to esbuild with this sass-plugin and trying to recreate the usual behavior of scoped modules in react:

[code]

does this plugin support this or would it require more to it?

Thanks!

[2021-10-13 23:46] glromeo commented on #33
@Miosame esbuild documentation is a bit misleading on that topic. This plugin supports css modules. Have you tried to look at the examples in the test/fixtures folder?

[2021-10-13 23:48] glromeo commented on #33
This example in particular uses react: [https://github.com/glromeo/esbuild-sass-plugin/tree/main/test/fixture/css-modules](https://github.com/glromeo/esbuild-sass-plugin/tree/main/test/fixture/css-modules)

[2021-10-18 16:39] ZachFontenot opened #34 "FATAL ERROR: v8::ToLocalChecked Empty MaybeLocal."
When trying to use the `implementation: "node-sass"` option, I'm running into presumably a libSass error, since the stacktrace is printing C++ errors. I'm not exactly sure what the issue is. Running node-sass from `bin` doesn't error out like this.

I just don't really know what to look at. I don't know how libSass works, or how the plugin imports and uses it.

[code]

[2021-10-21 12:39] #34 closed

[2021-10-21 16:12] Rassell opened #35 "esbuild loader for woff2 being ignored"
Hi,

First of all thanks for this awesome plugin!

I have a (minor?) issue with it (or maybe I'm just doing something wrong). I'm being ignored trying to use a custom font...

my code (not all code copied so is easier to follow):

Header.tsx:
[code]

Header.module.scss:
[code]

main.scss:
[code]

fonts.scss:
[code]

esbuild:
[code]

i have tried diferent loaders with no luck...

many thanks in adv

[2021-10-21 19:31] glromeo commented on #35
One is happy in being of service! 😄
One thing I noticed is that you specify `font-family: 'Font-Italic';` in `@font-face` but then you use `font-family: 'Lidl-Font-Italic';` in `Header.module.scss`...could that be it?
Do you have any errors in the build log?

[2021-10-22 20:05] #35 closed, assigned to glromeo

[2021-10-23 18:40] danny519 opened #38 "Can't import modules when using pnpm"
I am trying to import `@material/data-table/data-table` but I get this error `Cannot find module '@material/animation/_functions' from` it works fine if I use npm instead of pnpm. If I add the `--shamefully-hoist` flag to pnpm then it also works fine. I assume it's related to pnpm putting dependencies in .pnpm and sass maybe does not know how to find them.

[2021-10-25 14:58] #38 closed, assigned to nobody

[2021-11-08 14:41] schmitch opened #39 "plugin and fortawesome?"
hello, I tried your plugin and it works great, except when I try to add fortawesome which also adds font files into the scss files. (i actually try to converting our build from webpack to esbuild, our speedup is way above 10x)

currently we defined it the following way:

[code]

and the sassPlugin config:

[code]

I also configured loaders for the font files:
[code]

(there is also a free version,

[2021-11-08 15:04] #39 closed

[2021-11-09 17:59] jjant opened #40 "additionalData option like in sass-loader?"
Hi, I'm trying to understand if I can do something like
[code]
which sass-loader allows: https://www.npmjs.com/package/sass-loader#additionaldata, we use this for filling in that variable in dev and use custom styles there.

[2021-11-11 01:37] glromeo commented on #40
sass-loader loads the contents of the sass file in the Javascript host which is something I don't want to do with the plugin because I want the communication between the plugin and the sass implementation to be as lean as possible so that I can use worker threads and possibly the embedded sass protocol when it's going to be mature enough (and if fast enough).

that said you can achieve something s

[2021-11-11 01:37] #40 closed

[2021-12-02 14:24] Epskampie opened #44 "includePaths doesn't work?"
I'm trying to use `includePaths`, but can't get it to work. I've made a tiny reproduction repo: https://github.com/Epskampie/esbuild-sass-includepaths

As you can see `npm run sass:build` works, `npm run esbuild:build` error out with:
`error: Cannot find module 'color/_colors'`

Some relevant code:
[code]

[code]

[code]

[2021-12-02 14:39] Epskampie commented on #44
After reading the docs some more, it seems that `includePaths` is not actually supported, but I can [achieve something similar](https://github.com/Epskampie/esbuild-sass-includepaths/tree/fix_importmapper) with `importMapper`.

You may want to remove this line from the README.md: `The options passed to the plugin are a superset of the Sass Options.` as it lead to be believe all sass options are su

[2021-12-02 17:03] glromeo commented on #44
@Epskampie I re-opened this issue because I actually refreshed my memory and I realized that **includePaths is supported** and passed through to the sass JS API. The real problem is that because at some point the importer which originally was optional became a default it [takes over](https://sass-lang.com/documentation/js-api/interfaces/LegacySharedOptions#importer) and fails instead of delegating

[2021-12-02 17:24] glromeo commented on #44
[v1.7.3](https://www.npmjs.com/package/esbuild-sass-plugin) fixes the issue and you can just run your repo exactly as it is!

I hope this helps

[2021-12-02 17:24] #44 closed

[2021-12-02 17:48] Epskampie commented on #44
Awesome, thanks for the swift fix!

[2021-12-02 18:46] iChip opened #46 "Missing Default Export"
This plugin isn't currently interoperable with an executor like e.g. https://github.com/sevenwestmedia-labs/nx-plugins/blob/main/libs/nx-esbuild/src/executors/build/executor.ts#L44 because it doesn't include a default export (the plugin).

I do think it's desirable for the default export of a plugin package to be the plugin.

[2021-12-03 09:09] glromeo commented on #46
I see why it's useful in that case... I'll add it!

[2021-12-03 09:27] glromeo commented on #46
Added in v1.8.0

[2021-12-03 09:27] #46 closed

[2021-12-08 06:19] Carrie999 opened #47 "feature: sass global variable"
like the webpack loader sass-resources-loader

[2021-12-08 09:10] glromeo commented on #47
Is this https://github.com/glromeo/esbuild-sass-plugin/issues/40 that you are talking about?

[2021-12-09 19:45] Hideman85 opened #48 "Pure esbuild sass files with relative assets fails to load"
I do have a relative import issue:
[code]

The file import a relative sass file

I found other issues on the repo like `@import "../../../fonts/fonts.scss";` and this file is importing the font.

I do see other similar issues on the repo but I don't really get it... I try to find if this is due to dart-sass but no clue either....
Currently this is working with webpack but I do think like https://g

[2021-12-10 01:51] glromeo commented on #48
I never saw an error message like that, can you help me reproduce this issue?
is that you obfuscating the path or is it really `/....../` ???

If you could share the repo that would be great!

[2021-12-10 08:11] Hideman85 commented on #48
Yes I just obfuscated the complete path to ..... I should have put *
The project is a closed source commercial project so I cannot share it but I could see to produce a reproduction case.

[2021-12-12 23:27] glromeo commented on #48
This actually is a similar issue to #19 indeed...
This little debug plugin shows us that:
[code]
the issue is not in the plugin but in esbuild trying and resolving the font url from the source file and not the sass file
[code]
I am still of the idea that I don't want to take `esbuild-sass-plugin` in the direction taken by the webpack loader
and that's also because these kind of import issues can b

[2021-12-13 15:39] Hideman85 commented on #48
Thanks for your complete answer, then I'm gonna open an issue in esbuild I don't like the resolve assets hand made fix it does not fit at scale.

[2021-12-13 15:44] glromeo commented on #48
sorry @Hideman85 but esbuild author can't help you there!

[2021-12-13 15:46] Hideman85 commented on #48
But then this is not usable, we cannot tell all the users:

[2021-12-13 16:24] glromeo commented on #48
The issue is within SASS and a solution might come from https://github.com/sass/sass/issues/2535
but for now you are probably better off using webpack and [resolve-url-loader](https://github.com/bholloway/resolve-url-loader/tree/v4-maintenance/packages/resolve-url-loader)

[2021-12-13 16:27] Hideman85 commented on #48
Yes currently I'm with webpack + babel + terser and that is horribly slow that's why I was looking to move to esbuild.
Do you think node-sass has the same issue? It might be an alternative too right?

[2021-12-14 00:51] glromeo commented on #48
Node sass has the same issue but at least it would allow importers to intercept all @imports and one could hack into that to
rewrite relative urls in absolute that then esbuild could rewrite properly.
node-sass is deprecated so I cannot really invest all that effort to leverage on a feature that's seen by the sass team
as a bug: https://github.com/sass/dart-sass/issues/574

This is the only hope:

[2021-12-14 08:17] Hideman85 commented on #48
Wow the resolve-url-loader is indeed crazy :joy:

Our only hope rely on a issue opened more than 3 years ago :cry: I would say that it would probably happen a day but that does not look like for the near feature.

Maybe we can upvote the issue by adding our case and maybe it would boost it

[2021-12-20 03:43] glromeo commented on #48
Hi @Hideman85 I just published https://www.npmjs.com/package/esbuild-sass-plugin/v/2.0.0-alpha.0 in npm.
In this version there are few breaking changes but I guess they won't affect your project.
Instead there's the replacement of the old `renderSync` API call with the new `compile` that allows importers to intercept all import resolutions, also the relative ones.
There's also a `precompile` optio

[2021-12-20 03:53] glromeo commented on #47
@Carrie999 there's 2.0.0-alpha.0 in npm which has some breaking changes but amongst them there's the capability
to do something like what you ask...
It's in alpha because at the moment it doesn't respect source maps...I need to fix that but, in the meanwhile, it's usable
if you want to experiment with it.

[code]

[2021-12-20 08:13] Hideman85 commented on #48
Hi @glromeo thanks for the update and your work :slightly_smiling_face:
I just tried out and I cannot see the import error with the asset but it could be due to the flooded error that I have now.
Lot of my sass files import a relative `_variables.sass` to get access to the colors, margin and plenty of other variables for the styling.
But now I do have a import issue:
[code]
I note that the logging

[2021-12-20 11:51] glromeo commented on #48
hmm... the `url()` substitution shouldn't affect that... can you add the relevant files to https://github.com/Hideman85/esbuild-sass-test-case ?
This would help me debug the new importer logic and come up with a e2e test for a layout like yours

[2021-12-20 14:04] Hideman85 commented on #48
I just ran my test case with dependencies up to date like:
[code]

And got this without the need of extra files:
[code]

I seen this:
[code]

Same output after downgrade, have you tired out? I'm on latest Ubuntu 21.10.

[2021-12-20 14:20] glromeo commented on #48
looks an issue with the path separators...I am going to try it on my mac. Thanks for the help troubleshooting!

[2021-12-20 14:34] glromeo commented on #48
please update to https://www.npmjs.com/package/esbuild-sass-plugin/v/2.0.0-alpha.1 !

[2021-12-20 14:46] Hideman85 commented on #48
It does solve the issue but now it remains two points:
- `url(../asset.png)` I guess I just need to update the regex to match urls wothout quotes
- `.myWrapper { @import '../someCssFile' }` that is a common way to import built-in css content an rewrite it in a namespaced matter (you might need me to update my test case)

[2021-12-20 23:10] glromeo commented on #48
@Hideman85 I see, builtIn is a [Plain CSS @import](https://sass-lang.com/documentation/at-rules/import#plain-css-imports)
Thank you for pointing me at it. Now I understand that I better refactor the url rewrite logic to be performed on the compiled sass rather than the source...

[2021-12-21 02:30] joeworkman opened #52 "Can't find stylesheet to import"
I have looked at similar issues filed about this but was unable to find a solution. I also tried the 2.0-alpha version.

If you clone this repo: https://github.com/foundation/proton-sites-template

After you install, run a `yarn build`. You will see that it fails trying to load a Sass library. Here is a snippet from the esbuild script.

[code]

If I run `sass` directly from the CLI. It works like

[2021-12-21 03:24] glromeo commented on #52
I will try your repo against v2.x to be sure it works, please leave this issue open until then.

Module resolution is really in **alpha** stage in there and I have bigger fish to fry so I suggest
you to try and use [sass-extended-importer](https://github.com/wessberg/sass-extended-importer)
with v1.x:

[code]

please note that sass-extended-importer can't work with v2.x

[2021-12-21 04:04] joeworkman commented on #52
@glromeo Dude! I swear that I tried that so many different ways. Thank you so much. You may want to add that exact example into the README. Could be helpful for others.

My build works now. I am happy to help test v2 if you get that working.

[2021-12-21 05:39] joeworkman commented on #52
Should I expect this to work with `watch:true` enabled? It does not see to pick up changes.

[2021-12-22 02:00] navidemad opened #53 "Support nodeLinker pnp"
Hello,

I was taking in consideration to move from yarn nodeLinker with node_modules to the pnp version, and I was wondering have you take a look on how this awesome plugin you created could reach packages with this new way ?

I know there is @yarnpkg/esbuild-plugin-pnp and it works perfectly for my javascript assets but when it comes to compile my stylesheets trouble are coming my way.

If you ha

[2021-12-22 09:00] glromeo commented on #53
Thank you @navidemad, there's an example of using the plugin with pnp in https://github.com/glromeo/esbuild-sass-plugin/tree/main/test/fixture/pnp. My focus is right now is on releasing v2.x, when that's out if there are issues using it with pnp we can take it from there

[2021-12-22 09:00] #53 closed

[2021-12-22 09:02] glromeo commented on #52
watch mode should work regardless of the importer being used, if you definitely see an issue create a repo that reproduce it and I can look into it

[2021-12-22 09:02] #52 closed

[2021-12-23 03:09] glromeo commented on #48
@Hideman85 I just released [2.0.0-alpha.3](https://www.npmjs.com/package/esbuild-sass-plugin/v/2.0.0-alpha.3)
which should have a pretty solid import resolution now... I look forward to your feedback!

[2021-12-23 18:07] glromeo commented on #47
The v2.x branch has this feature and it's covered by tests, closing this issue

[2021-12-23 18:07] #47 closed

[2021-12-24 03:54] glromeo commented on #48
@Hideman85 v2.0.0 has been published... I close this issue now

[2021-12-24 03:54] #48 closed

[2022-01-03 13:30] Hideman85 commented on #48
Super thank you so much for your work, I will check out later :)

[2022-01-06 11:03] hummal opened #55 "loadPaths needs "path" module to be imported"
### Description

If you use the loadPaths - Option the plugin throws an error "✘ [ERROR] [plugin sass-plugin] path is not defined".
If you import `import path from 'path';` this error is gone.

### Expected Behaviour
Path module is included by plugin itself

### Actual Behaviour
Path module has to be included by user

[2022-01-06 12:50] glromeo commented on #55
Can you give me more context (e.g your build script)? I don't recall any usages of the `path` identifier within the plugin

[2022-01-06 15:50] cohoprints commented on #13
@karl-thomas, now that the exclude option has been deprecated, what is the recommended method for ignoring https links? I've tried adding my https imports to esbuilds external list, but continue getting import errors from the sass plugin.

[2022-01-06 22:27] glromeo commented on #13
@cohoprints sorry Daniel, unfortunately I didn't had much time to improve the README.md for v2.x as much as I wanted
yet.
For your case the new way is to use the `filter` option which is passed directly to esbuild that executes it directly (i.e. faster).
I think something like:
[code]
should do.
Thank you for your patience!

[2022-01-07 14:25] hummal commented on #55
Sorry for delay, I already deleted the build file and need to rebuild it.

[code]

[2022-01-07 15:13] glromeo commented on #55
Everything is fine and the error you get has nothing to do with `loadPaths`.
You are creating a function that uses `path` from its containing scope
[code]
so you have to define it in that scope and that import is the way to do it

[2022-01-07 15:13] #55 closed

[2022-01-07 16:36] hummal commented on #55
Thank you. So stupid of me

[2022-01-07 17:29] glromeo commented on #55
Don't worry... if it wasn't for my IDE highlighting everything I would be lost most of the times!

[2022-01-07 18:06] GravlLift opened #56 "Incorrect extension parsing"
When resolving an import for a pathname containing a folder with a period and a file with no extensions, such as `@import './Assets.Styles/variables';`, the extension is incorrectly interpreted as `.Styles/variables`, rather than an empty string by this block of code:

https://github.com/glromeo/esbuild-sass-plugin/blob/5cc582c281364e7021c5adf187cd71054ebbf055/src/render.ts#L49-L57

[2022-01-07 18:21] GravlLift opened #58 "README precompile example path separator issue"
There's something strange going on with path separators on Windows in the [precompile example in the readme](https://github.com/glromeo/esbuild-sass-plugin/blob/5cc582c281364e7021c5adf187cd71054ebbf055/README.md?plain=1#L170). The `path.dirname` call correctly reads out the base directory as, for example, `C:\\folder\\subFolder`, and the path is successfully combined with the item in the `url` cal

[2022-01-07 22:48] #56 closed

[2022-01-08 20:48] kavika-1 opened #59 "v2.0.2 on npm build missing lib folder"
For some reason `2.0.2` on `npm` doesn't seem to contain the lib folder, so our builds are failing
![image](https://user-images.githubusercontent.com/7366181/148659481-63dacefa-371c-4cae-8c99-2279e5a9895a.png)

For reference, `2.0.1` does:
![image](https://user-images.githubusercontent.com/7366181/148659496-9a8748b8-5433-4fcd-a661-7545b28b4990.png)

Workaround for now is install `2.0.1`

[2022-01-08 22:50] glromeo commented on #59
@kavika-1 my sincere apologies for the mistake...I just introduced the github action and I didn't realize it was missing the build step!

[2022-01-08 23:02] glromeo commented on #59
please update to https://www.npmjs.com/package/esbuild-sass-plugin/v/2.0.3

[2022-01-08 23:02] #59 closed

[2022-01-09 00:31] kavika-1 commented on #59
confirmed working - thanks for the great library

[2022-01-18 03:57] rodoabad opened #60 "How do I filter module and global CSS and SCSS files?"
[code]

This is what I'm doing right now we have the following files.

- foo.css // global
- bar.scss // global
- foo.module.css // local CSS module
- bar.module.scss // local CSS module

[2022-01-18 10:19] glromeo commented on #60
yes @rodoabad that's the intended usage... did you run in any issues?

*NOTE* you can simply use `.s?css$` in your cases by the way

[2022-01-18 13:24] rodoabad commented on #60
@glromeo one of the problems that I have is, if ever the order is switched, then it's going to give an error.

[code]

[code]

[2022-01-18 13:51] glromeo commented on #60
yes that's intentional, `esbuild` checks the plugins in the order they are listed by testing the [`filter`](https://esbuild.github.io/plugins/#filters) regexp so the plugin with the most specific regexp (the module one in your case) has to come before the one with the less specific regexp.

[2022-01-18 13:57] rodoabad commented on #60
Thanks, for clearing that up. Looks like I have to specific.

[code]

Just getting this error right now.

[code]

[2022-01-18 15:31] glromeo commented on #60
You don't have to go to the extent of providing mutually exclusive regexps...
this:
[code]
should work because the first regexp is more specific than the second, if it doesn't then we have a problem 😅

[2022-01-18 21:22] rodoabad commented on #60
@glromeo oh. Well I was. thinking more of it being safer? So that if ever someone switches the two then it still works.

[2022-01-18 23:11] glromeo commented on #60
I wouldn't try to achieve that... you can but at the cost of added complexity (...and making the build slower). Although being safe is a nice have code is code...be it in your app or your build scripts it is meant to be handled with care!
I am going to close this issue leaving a reference to it in the documentation hoping that it helps clarify this topic to other people approaching the plugin. Tha

[2022-01-18 23:11] #60 closed

[2022-01-22 02:22] MuTsunTsai opened #61 "Unable to resolve exports path in package.json"
Not sure if this is an issue with esbuild in general, or if there's anything that can be done with the plugins.

Take the package `swiper` as an example. In its package.json it lists all its exports such as
[code]
So if I write `import "swiper/scss";` it will resolve to "swiper/swiper.scss". And also I couldn't use the latter instead, or it will give me an error saying that this path is not export

[2022-01-24 04:28] glromeo commented on #61
@MuTsunTsai thank you for the best issue ever!
It helped me understand that I am still intercepting the onResolve which was a leftover of the v1.x design
and that is no longer necessary and actually doesn't work well given `esbuild` package exports resolution.
Getting rid of onResolve will help me simplify the plugin and get rid of the "namespaces".
Unfortunately the changes require some time to t

[2022-01-24 04:41] MuTsunTsai commented on #61
Oh, by the way, I'm not sure if this is related or should be post as a seperate issue, but I believe that this plugin also went wrong if the imported .scss file makes another import, and if the full path of the latter file contains non-ascii characters.

[2022-01-24 22:28] #61 closed

[2022-01-25 00:41] MuTsunTsai opened #63 "Doesn't support path with non-ascii characters"
As previously mentioned in issue #61, this plugin goes wrong if the imported .scss file makes another import, and if the full path of the latter file contains non-ascii characters. I believe this is a plugin-specific issue as this error doesn't occur with esbuild in general.

![image](https://user-images.githubusercontent.com/39870664/150888739-e3fe7c84-374b-4eed-bb7e-b055aa6b20a8.png)

As can be

[2022-01-25 00:43] MuTsunTsai commented on #61
Confirmed that this is fixed in v2.1.0.

[2022-01-25 01:41] glromeo commented on #63
@MuTsunTsai yup...that was another interesting journey!

[2022-01-25 02:06] glromeo commented on #63
I've just released v2.2.0 please have a try and let me know how it goes

[2022-01-25 02:49] MuTsunTsai commented on #63
Damn that was fast! Confirmed issue fixed in v2.2.0 👍

[2022-01-25 02:53] MuTsunTsai commented on #63
Did you seriously draw a picture just for this issue? LOL

[2022-01-25 04:05] #63 closed

[2022-01-25 11:40] megaboich opened #66 "SourceMap fix was removed in v2.1.0"
Hi, thanks for awesome plugin.
Recently I checked release notes and was amazed that you did a fix for sourcemaps exactly what I wanted.
But unfortunately the fix disappeared later from the code.

My config:
[code]
As you can see I want to have sourcemap only for javascript, not for sass.

Please kindly refer to history below.

Original fix I refer to: https://github.com/glromeo/esbuild-sass-plugin

[2022-01-25 17:13] glromeo commented on #66
@megaboich thank you for spotting it! I am releasing v2.2.1 which will fix that.
I don't like `sourceMap` either but that's the syntax of SASS APIs and the options
that you pass to the plugin are a superset of the ones that `compileString` accepts
[where`sourceMap` is in camel case](
https://sass-lang.com/documentation/js-api/interfaces/StringOptionsWithImporter#sourceMap
)

[2022-01-27 01:32] #66 closed

[2022-02-02 16:38] Epskampie opened #69 "Sourcemaps messed up when using @use (or @import)"
When using `@use` or `@import` the sourcemaps aren't correct anymore:

![Selection_008](https://user-images.githubusercontent.com/1692043/152196866-a6c7d5af-13f7-493c-ab34-d308acbb27d8.png)

I made a small reproduction again: https://github.com/Epskampie/esbuild-sass-sourcemaps

As you see, if you run `npm run esbuild:build` and open `with_use.html` in your browser the sourcemaps are wrong.
When y

[2022-02-02 22:22] glromeo commented on #69
Thank you for raising such a detailed issue! You will find a fix in 2.2.2...

/* 22:22 of 02/02/2022 😆  */

[2022-02-02 22:33] #69 closed

[2022-02-03 06:07] Epskampie commented on #69
Awesome! Thanks for the super quick fix. 🙏

[2022-02-10 04:34] WangShuXian6 opened #72 "scoped-url example compile error"
# file path `test/fixture/scoped-url`

[code]

bug
[code]

[2022-02-10 14:32] #72 closed

[2022-02-24 09:41] alex-w0 opened #74 "Import node_modules not working when bundle is set to true"
When I'm trying to import a file from the node_modules with the symbol `~` then it will give me the following error. Writing the full path manually works.

[code]

[code]

[2022-02-24 17:58] glromeo commented on #74
your issue is likely a css import (i.e. not sass) being tried to be resolved by esbuild …I can’t just see that import in formio so if can’t tell more than that… I am happy to help you troubleshoot this but you have to come up with a github repo where you reproduce the issue

[2022-02-24 18:48] alex-w0 commented on #74
Yes true, it's a common css import which should recognize the tilde as an alias for the node_modules. The formio file just contains the import statement at the beginning. Here is the [repo](https://github.com/alex-w0/esbuild-sass-plugin-demo) for reproducing the issue.

[2022-02-25 00:45] glromeo commented on #74
the issue here is that sass doesn’t call the plugin importer because it’s a css so the import ends in the css that esbuild is trying to bundle and esbuild has no idea how to deal with ~ indeed if you remove ~ from your example url it builds just fine

[2022-02-25 00:47] glromeo commented on #74
another option for you is to use the precompile in the plugin to change the url and remove the ~

[2022-02-25 01:06] glromeo commented on #74
I’m on holidays with just an ipad when back I want to try and add another onResolve to the plugin to male life easier in these situations

the idea is the following
[code]

[2022-02-25 10:37] alex-w0 commented on #74
Yes no worry, writing the full path works fine for me, so this improvement is not really urgent or even tragic when it's not possible. Enjoy your holidays.

[2022-02-26 17:56] glromeo commented on #74
@alex-w0 you can upgrade to 2.2.4 and add `cssImport: true` to your options
thank you for your example repo!

[2022-02-26 17:56] #74 closed

[2022-02-28 06:56] alex-w0 commented on #74
Thanks works great :rocket: I also didn't know that the `~` is deprecated these days ^^

[2022-03-02 20:18] tadman commented on #74
Is it `cssImport` or `cssImports` as in the docs?

[2022-03-16 02:42] rhu25 opened #75 "csp issue"
because of [this line ](https://github.com/glromeo/esbuild-sass-plugin/blob/34c917ac07c9c7431ed21d351cf99ba417b07045/src/utils.ts#L101),

its cause our app csp issue, there is no way add `nonce` to it

read https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

[2022-03-16 05:35] rhu25 commented on #75
trying to create a pr, but no access to push myfix branch to it

[2022-03-16 06:39] rhu25 commented on #75
@glromeo

[2022-03-16 18:20] #75 closed

[2022-03-28 06:51] rhu25 opened #76 "nonce global issue"
Hi Gianluca,

thanks for your update for nonce previously. we have another a issue with nonce

we use esbuild-sass-plugin like this,

app A has app B as dependency, app B used esbuild-sass-plugin to esbuild.

following code is app B code
[code]
since nonce need to be dynamic for each app used app B.
we cant just hardcoded nonce like this
[code]

so is possible to fix [this line](https://github.com

[2022-03-28 16:17] glromeo commented on #76
![bitmoji](https://sdk.bitmoji.com/render/panel/7e3bc453-64fb-4a34-bcaa-481724e5d3d9-774bf184-bc1c-4f48-a627-8361720afa10-v1.png?transparent=1&palette=1&width=246)

I rather not pollute the window scope for that...

How about we make so that you can bundle AppB leaving nonce unresolved and then bundle AppA using define?

In theory, this means you need to have two build target for your AppB one for

[2022-03-29 00:01] #76 closed

[2022-03-29 00:16] glromeo commented on #58
I close this hoping the documentation is clear enough now

[2022-03-29 00:16] #58 closed

[2022-03-29 02:09] rhu25 commented on #76
it works for me thank you very much

On Tue, Mar 29, 2022 at 12:18 AM Gianluca Romeo ***@***.***>
wrote:

[2022-04-07 03:49] awcrotwell opened #77 "Use `url()` with SVG images"
I have been trying for a few days and can't seem to figure this one out. I have gone up and down the docs for this plugin & svgr and cannot figure it. I apologize if there is a simple solution or if this problem is out of scope of `esbuild-sass-plugin`.

Everything I try ends up with the same error:

[code]

The actual line is `background-image: url(@img/logo-mono.svg);`.

Current Esbuild config:

[2022-04-07 14:10] awcrotwell commented on #77
Thanks for getting back to me so quickly Gianluca.

Is this something that should just work™? I have tried with absolute paths like so:
![Screen Shot 2022-04-07 at 7 07 02 AM](https://user-images.githubusercontent.com/49383564/162218751-986ab527-20ab-47fa-bf83-9daf62002dd0.png)

[code]

[code]

However, if I change the absolute path to end with `tick.png` instead of the SVG, everything works as ex

[2022-04-07 14:44] awcrotwell commented on #77
For anyone that comes across this, yes it is suppose to 'just work™'. This error wasn't caused by the sass plugin but from `svgr`. The solution was to ensure the sass plugin ran before svgr like so:

[code]

My apologies @glromeo for the issue.

[2022-05-06 11:25] franckchen opened #78 "using postcssModules make sass file cannot extract into a single css file"
https://github.com/glromeo/esbuild-sass-plugin/blob/bc4452940e800ed18fa0761644e4f4ef3e4fddf6/src/utils.ts#L158
from the source code, when using this plugin with option postcssModulesPlugin make sass cannot extract into a single css file. is there anyway to solve this problem?i wannt to use css module and extract both

[2022-05-30 03:11] rhu25 opened #79 "css not import properly"
hi team,

we used esbuild to build the package,

after build
those css not compiled
![Screen Shot 2022-05-30 at 11 10 13 AM](https://user-images.githubusercontent.com/16900386/170910358-0ece5567-5963-4f03-8718-837ee1e07aec.png)
![Screen Shot 2022-05-30 at 11 10 30 AM](https://user-images.githubusercontent.com/16900386/170910366-59816c38-48c3-4723-816c-38742c31c544.png)
thanks

[2022-05-30 03:12] rhu25 commented on #79
@glromeo

[2022-05-30 03:21] rhu25 commented on #76
Hi Gianluca,

I created a new issue for esbuild,
https://github.com/glromeo/esbuild-sass-plugin/issues/79

Thanks,
Ran

RAN HU ***@***.***>于2022年3月29日 周二10:08写道：

[2022-05-30 08:28] glromeo commented on #79
Have you specified the option `cssImports` ?

[2022-05-31 01:49] rhu25 commented on #79
@glromeo

[2022-05-31 02:01] rhu25 commented on #79
@glromeo still not work with cssImports

[code]
my scss file is like this

[code]

after build
![Screen Shot 2022-05-31 at 10 00 09 AM](https://user-images.githubusercontent.com/16900386/171078064-503b188f-06ef-4e38-a8dd-f577dde2fedc.png)

[2022-05-31 08:01] glromeo commented on #79
can you please run your example without `esbuild-node-externals` and see if that fixes your issue?

[2022-06-01 01:37] rhu25 commented on #79
@glromeo we cant remove it, after remove it, esbuild throw
[code]

[2022-06-01 07:46] glromeo commented on #79
the only suggestion I have is to invert the order of the plugins putting esbuild-sass-plugin first.
If that doesn't work create a github project replicating the issue

[2022-06-06 09:52] tiagovtristao commented on #78
I'm facing the same issue, I wonder if this is a limitation with esbuild at the moment. Is this something that you know @glromeo ? Nice plugin by the way :-)

[2022-06-06 10:25] glromeo commented on #78
Sorry guys what you ask is against `esbuild` design. In order for the css modules to be imported they have to be specified as 'js' for the loader and then `esbuild` leaves their handling to the plugin with no way for that css to be part of the compact bundle you want. I left this issue open while I was getting my head around the possibility of writing myself a bundling of all the styles module int

[2022-06-06 10:25] #78 closed

[2022-06-09 10:14] glromeo commented on #78
@ronkorland esbuild provides a callback for that https://esbuild.github.io/plugins/#on-end

[code]

[2022-06-14 16:07] alexbilbie opened #80 "Cannot read properties of undefined (reading 'nonce')"
In my esbuild.js file I have the following config:

[code]

When I run this I get the following output:

[code]

The only solution I have found is to replace [this line](https://github.com/glromeo/esbuild-sass-plugin/blob/bc4452940e800ed18fa0761644e4f4ef3e4fddf6/src/utils.ts#L158):

[code]

My understanding is that `this` is undefined inside the `postcssModules` function.

I'm running node v18.3.0

[2022-06-14 16:23] alexbilbie commented on #80
I've fixed my issue.

I noticed [here](https://github.com/glromeo/esbuild-sass-plugin/blob/bc4452940e800ed18fa0761644e4f4ef3e4fddf6/src/plugin.ts#L46) that the options are being bound to the transform function, so I've updated my function to bind accordingly:

[code]

[2022-06-14 16:23] #80 closed

[2022-06-21 14:06] glromeo commented on #80
Thank you @alexbilbie ... you have the right attitude! Keep up and sorry for replying so late

[2022-06-23 06:08] yourivdlans commented on #78
I would also be interested in extracting the css to a separate file. @ronkorland would you mind sharing your approach?

[2022-07-06 16:04] hunterboerner opened #81 "Unable to import from Sass using Yarn PnP"
Hi,

I'm unable to import code from modules from Sass as follows:
[code]

The error I get is
[code]

My build script plugins are configured as such:
[code]

Thanks,
Theron

[2022-07-07 02:56] glromeo commented on #81
if you want help please provide a github project that recreates your issue

[2022-07-09 20:06] glromeo commented on #79
I have reason to think that `esbuild-node-externals` prevents the resolution of cssImports and indeed it's not about the order it's about whether to avoid that plugin from messing with `@blueprintjs`  by adding it to the `options.allowList`
Then I don't understand what `~normalise.css` is supposed to be. `~` should prefix a node module there it prefixes just a file
I am going to close this issue d

[2022-07-09 20:06] #79 closed

[2022-07-12 22:22] tleunen opened #82 "Using the "sass" field in package.json"
The sass-loader in webpack does read the field `sass` and `style` in package.json before reading `main` for a node_modules package. Would it be possible to have the same feature in the plugin?

In other words, having `@import "MyPackage";` would try to resolve with the file in the "sass" field if it exists before using `main`.

[2022-07-16 10:43] #81 closed

[2022-07-16 14:10] #82 closed

[2022-07-16 14:25] glromeo commented on #82
@tleunen 2.3.0 now allows you to specify ```prefer: "sass"``` that does what you want.
Due to some limitations the resolution takes place only if the import is prefixed with `~` though!
I am investigating on the possibility of rewriting the importer and get rid of this limitation
but I don't have much time at hand right now so I don't know when and if that will happen

[2022-07-19 06:56] MakingStuffs opened #84 "[BUG] When the user passes the `css-text` value for `type` all css @imports should be parsed and combined into the resulting string"
Hi there,

Using the plugin and I noticed that adding the `css-text` option for the `type` property does not handle SCSS imports. It simply just leaves the reference to the import in the resulting CSS:
[code]
## More detail

Say I have the following folder structure:
[code]
With the following in the two files:
[code]
And my `index.ts` file does the following:
[code]

I would expect the resulting J

[2022-07-19 09:28] glromeo commented on #84
Why are you using `url(...)` ? You don't need it and you are making sass think that's a CSS import and hence ignore it.
Also notice that sass is deprecating @import in favour of @use

[2022-07-19 10:00] MakingStuffs commented on #84
@glromeo so sorry I had an absolute brain fart! Guess I should wait until I have my morning tea before filing bugs 🤣

[2022-07-20 21:29] Beefers opened #85 "Minifying CSS output"
Hey!

I recently used this plugin in a project and noticed that when using "css-text" mode, the CSS output is not minified. This makes my bundle have newlines inside, which is... not ideal.

If possible, I'd like a way to minify the CSS output.
If there already is a way to do this, please point me there instead.

[2022-07-20 21:35] lexisother commented on #85
I'd like to add my two cents here. I see that the options that are passable to the plugin do not include all options available to the sass compiler. This means you're locked down to what the plugin allows you to provide, no?

I don't see a clear way to pass custom options to the sass compiler, and I think it would be beneficial if that were added.

Would make issues like this one extraneous, since

[2022-07-21 02:09] glromeo commented on #85
@lexisother the options of the plugins are passed to the compiler
https://github.com/glromeo/esbuild-sass-plugin/blob/726b59f373e6af98f755068666e1cb3342f2b282/src/render.ts#L84
and the TS type is declared accordingly
https://github.com/glromeo/esbuild-sass-plugin/blob/726b59f373e6af98f755068666e1cb3342f2b282/src/index.ts#L7

@Beefers unfortunately the api doesn't provide minification but the plugi

[2022-07-21 02:09] #85 closed

[2022-07-21 09:42] lexisother commented on #85
Might be worth mentioning on the README. Thanks for the pointer! 👍🏻

[2022-07-21 09:53] glromeo commented on #85
@lexisother there's just a bare example of postCSS in there... This is OpenSource, why don't you add an example section to it with this information? Happy to merge your contribution

[2022-07-21 17:08] tleunen commented on #82
Thank you so much @glromeo :)

[2022-07-22 05:39] jzinn opened #86 "quietDeps not working in a React app"
I have been unable to get `quietDeps` to work in my React app.

A reproduction of the issue is here: https://github.com/jzinn/esbuild-sass-plugin-repro

## Input

The main three files are these:

### build.mjs

Invokes esbuild using esbuild-sass-plugin with `quietDeps` set.

[code]

### app.js

Esbuild entry point. Imports React and app.scss.

[code]

### app.scss

Imports Sass files from dependen

[2022-07-24 16:42] glromeo commented on #86
...first and foremost thank you @jzinn! I wish everyone is so considerate when raising an issue.
It looks like I should have considered passing `url` to the `compileString` function...
trying against your repo seems to solve the issue.

[2022-07-24 16:55] #86 closed

[2022-07-24 21:20] jzinn commented on #86
This fixes my problem.  Thank you for publishing the new version.

[2022-07-28 04:06] ivanyv opened #88 "require vs import on build script"
Just starting to dabble with esbuild, and I notice your setup instructions are different than other plugins.

When I use `import { sassPlugin } from 'esbuild-sass-plugin'`, I get `SyntaxError: Cannot use import statement outside a module`.

If I try to use `require` instead, I get:
[code]

Here's the build script:
[code]

Any help with the correct way to set it up would be appreciated.

[2022-07-28 12:06] glromeo commented on #88
@ivanyv the `require` examples in the README.md are in this form
[code]
meaning get the sassPlugin from the module exports.

I appreciate the earlier examples don't explain what you need to be able to use the `import`
keyword but that's general [node modules](https://redfin.engineering/node-modules-at-war-why-commonjs-and-es-modules-cant-get-along-9617135eeca1) knowledge that I have to give for gr

[2022-07-28 12:06] #88 closed

[2022-07-28 13:56] ivanyv commented on #88
@glromeo I figured it must have been something simple.

keyword but that's general [node modules](https://redfin.engineering/node-modules-at-war-why-commonjs-and-es-modules-cant-get-along-9617135eeca1) knowledge that I have to give for granted.

Agreed, thanks for helping anyway!

[2022-08-04 12:34] abr-storm opened #89 "Documentation redirects to Armin van Buuren DJ set"
I was trying to learn about the `loadPaths` option, but when clicking the link in the documentation I was redirected to a performance by Armin van Buuren at Creamfields 2019 (Hong Kong).

Is this intentional? If not, where was this link meant to go?

[2022-08-04 21:04] glromeo commented on #89
Thank you for pointing that out @abr-storm, what happened is that a shortened URL was used in the README and that expired and pointed to somewhere else... I just fixed it and I hope it helps!

[2022-08-04 21:04] #89 closed

[2022-08-08 21:12] Julian-Carelli opened #90 "Not detect .scss extension"
The problem is when I try to do a build with **esbuilt**, breaks because the plugin have issues for detect files without extension like ****/index**. For example in this case the plugin don't know detect the file's extension because have 2 with the same name (index)

<img width="310" alt="Captura de Pantalla 2022-08-08 a la(s) 18 06 36" src="https://user-images.githubusercontent.com/56791326/18351

[2022-08-09 21:45] glromeo commented on #90
sorry to contradict but the plugin is built to handle this
https://github.com/glromeo/esbuild-sass-plugin/blob/75d27ec374373e796738fe35f987f7d09acf9fd8/src/render.ts#L43-L46
and I have verified this personally, I am going to close this but if you really want help
please create a github repo that reproduce the issue and I will look into it

[2022-08-09 21:45] #90 closed

[2022-08-10 21:33] linasburneika opened #91 "Incorectly resolves imports"
If you import sass from a library that also has .js file with the same name as sass, the default require.resolve method picks js instead.
For example:
@import "~@my/package/lib/tool";

It causes a parsing failure if both files exist in the library: lib/tool.scss and lib/tool.js

A quick workaround is to use "prefer" option which uses resolve from browserify, which allows to restrict extensions, li

[2022-08-10 23:48] glromeo commented on #91
yup! that's indeed an issue... one day I will carve out the time to come up with my own resolver loosely based on browserify and get rid of require.resolve in the meanwhile I have an idea for a quick fix...

[2022-08-11 00:16] glromeo commented on #91
v2.3.2 should address this, and only this, case... I don't have time to cover it with a test, can you please confirm?

[2022-08-11 06:20] linasburneika commented on #91
It's a really rough patch, but does the job ;) No more errors. Thanks for a blazing fast reply!

[2022-08-11 06:23] #91 closed

[2022-08-17 21:33] linasburneika opened #92 "Inlining css with type="style" option skips processing url(...)"
If you use this plugin with type="css" option then the default 'css' loader of esbuild is used to process rendered css text, which in turn can use other loaders to handle fonts or images defined in url(...)

In case type is "style" then the rendered css text is embeded into the bundle without any further processing. It doesn't give any build errors, but at runtime you may see missing images and fo

[2022-08-17 22:05] cnshenj commented on #92
I have a repro here: https://github.com/cnshenj/azdo-ext. Just comment out the `sassPlugin()` line it works fine. With the plugin the font file in `url()` is not processed.

[2022-08-18 08:51] linasburneika commented on #92
got it working finally, it's a matter of specifying correctly 'base' and 'to' properties to get proper paths in the output.
This case should be documented in the readme, it's far from being intuitive.

[code]

[2022-08-18 15:47] eidellev opened #93 "`type: 'css'` ignored when using CSS modules"
Hi and thanks for making this  plugin. It's just what I needed.

When I'm using CSS modules the result will always be embedded in the JS bundle like so:
[code]

And here is my config:
[code]

[2022-08-18 21:18] cnshenj commented on #92
Is there a way to still pass `url()` to `esbuild` for processing (e.g. `dataurl`, `file`), rather than processing it using a separate library in `transform`?

[2022-08-19 19:04] glromeo commented on #93
`css` modules are `javascript` modules and they have to be passed to esbuild using the `js` loader hence the plugin output is bypassed altogether

sorry @eidellev although conceptually one could pass `esbuild` the module and still write the css text I don't want the plugin to have to directly write on the file system because this is responsibility of `esbuild` who decides where the output goes etc

[2022-08-19 19:06] #93 closed

[2022-08-19 19:09] eidellev commented on #93
thank you for clarifying that @glromeo

[2022-08-19 19:52] glromeo commented on #92
@cnshenj unfortunately not, the only way to have `esbuild` handle CSS features is with `type: "css"`

@linasburneika thank you so much for getting to the bottom of your issue... I improved the README hoping will help in the future

[2022-08-19 19:52] #92 closed

[2022-09-18 22:09] sgarfinkel opened #94 "Use esbuild's resolve function as an Importer for sass"
This would allow users to override (such as with aliases) the default sass resolution. Webpack's `sass-loader` basically implements this pattern, and delegates responsibility for resolution to the build tool: https://github.com/webpack-contrib/sass-loader/blob/master/src/utils.js#L653-L678.

I also suspect that esbuild's resolution is more efficient than the default one in sass. For my use-case, I

[2022-09-18 22:54] glromeo commented on #94
@sgarfinkel I would have liked to use esbuild's resolve function but it is async, it wouldn't work

[2022-09-18 22:54] #94 closed

[2022-09-18 23:09] glromeo commented on #94
I closed the issue because it is not an issue, this would have been better off as a discussion on the possibility of adding the option to also use the async mode to the dart sass compileString call.
I wouldn't want to just replace the compileString with the async version because the disclaimer that mentions the performance being likely worse.
Yet, at second thoughts, if it wasn't for the fact that

[2022-09-18 23:18] sgarfinkel commented on #94
Sure. I’m curious if using the embedded sass plus the async compile function would give you better performance. I’ve seen the warning about the asynchronous functions being much slower but the docs don’t actually provide any benchmarks.

[2022-09-18 23:19] sgarfinkel commented on #94
The other option would be to make this opt-in via a parameter so that by default the synchronous blocking compilation is used.

[2022-09-19 00:00] glromeo commented on #94
The embedded sass is not the answer https://github.com/glromeo/esbuild-sass-plugin/pull/68

Out of curiosity I just spiked a search and replace of sync for async and without any further change
the results are in par with the sync version but just with my synthetic benchmark that doesn't rely heavily
on sass itself but mostly on many quick turnarounds js<->sass

BUT...

Let's put aside for a moment

[2022-10-17 06:05] eoikonomou opened #98 "Importing node_modules style"
This might not be an issue of the plugin but my own fault.
I am trying to use the plugin since I am using sass in my project and I am stuck with some import files.

In my main style I am importing `~bootstrap/dist/css/bootstrap.min.css`. I set `cssImports` to `true` but I am still not able to make this work since the application tries to fetch the css file from `node_modules` path instead of being

[2022-10-18 22:04] glromeo commented on #98
hmm... this is a funny issue because from one side is yet another case of conflicting options (sorry about that!)
while from another side is simply an understandable mistake done by adding the `.css` extension!

If you follow the SASS documentation or [if you just refer to this Stack Overflow post](https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file)
you'll find the ex

[2022-10-18 22:04] #98 closed

[2022-10-19 05:57] eoikonomou commented on #98
Thank you for your reply. I did go through the SASS documentation as you proposed and indeed it was as simple as replacing `@import` with `@use`.

Just wanted to leave this here in case someone else end up here looking for an answer.

Thanks again!

[2022-10-26 11:40] maxiruani opened #100 "[feat] Option to use `sass-embedded` to speed up compilation"
I would like to have an option to use [sass-embedded](https://github.com/sass/embedded-host-node) instead to compile files.
It suppose to be [faster](https://github.com/sass/dart-sass/blob/main/perf.md) than `sass` package and a "drop-in" replacement.

According to documentation, it provides the same JavaScript API but unlike `sass` package, the asynchronous API in `sass-embedded` will generally b

[2022-10-26 11:44] glromeo commented on #100
Sorry Max, we have explored that possibility with poor results... the way esbuild the plugin and sass interact lead to a performance degradation which is ultimately due to Js in the middle
https://github.com/glromeo/esbuild-sass-plugin/pull/71

[2022-10-26 11:44] #100 closed

[2022-10-26 12:24] maxiruani commented on #100
Oops! Sorry to hear that (and for not checking previous issues haha). I was looking for alternatives to make compilation faster, I have also found [grass](https://github.com/connorskees/grass) (a rust based sass compiler, still in progress). Have you already analyzed this alternative in the past? I haven't have the chance to test its performance yet.

[2022-10-26 12:37] glromeo commented on #100
In that "due to Js in the middle" I am trying to condense the experience I got out of those experiments.
Crossing languages/runtimes means bottlenecks, esbuild does a great job at optimizing the go/js but once you jumped once it's best if you stick to js because otherwise you end up chaining further jumps without possibility of concurrency.

[2022-10-31 14:38] macrigiuseppe opened #101 "Tailwind"
Hello,
the plugin is really useful. I am trying to integrate esbuild with tailwind pipeline. Can I leverage this plugin? do you have any doc/example?

Thank you

[2022-10-31 16:54] glromeo commented on #101
This is not an issue, if you want to open a discussion there's the page for it.
I don't know much about tailwind but I can see that it can be used as a PostCSS plugin.

[2022-10-31 16:54] #101 closed

[2022-11-03 00:15] macrigiuseppe commented on #101
@glromeo what's the page for the discussion?

[2022-11-17 17:14] klaustopher opened #102 "Problem with importing Sass package that uses webpack style imports internally"
I am trying to add [tabler](https://github.com/tabler/tabler) to my project that is using `esbuild`. As I want to hook into their scss files, I'm not importing the `dist` files, but want to import the scss files.

Unfortunately they are using webpack style imports (`~bootstrap/scss/functions`) inside their scss files. See i.e. https://github.com/tabler/tabler/blob/dev/src/scss/_bootstrap-config.sc

[2022-11-17 17:29] klaustopher commented on #102
Additional info: In version 2.2.6 of this plugin, it used to work, when adding `cssImports: true` as an option: See https://github.com/klaustopher/tabler-esbuild-sample/tree/old-version

[2022-11-18 11:22] glromeo commented on #102
Hi Klaus, thank you for the professionalism in raising this issue...I do appreciate that!
I notice you do a source import and that throws you down a rabbit hole which eventually leads to that error.
changing your `application.scss` to
[code]
builds just fine.
My wonderland metaphor is not random... there are so many unexpected things that happen when going down the path of src import with sass tha

[2022-11-18 11:36] klaustopher commented on #102
Hey,

yeah, I know that it would work, if I import the compiled version. Stated so in my initial post.

My use case is, that I want to extend on the classes that are defined in the framework. Basically build my own stuff ontop of it and thus I would line to use the helper functions defined in the framework and bootstrap. If I were using the `dist` version I‘d have to jump through many more hoops t

[2022-11-18 18:13] glromeo commented on #102
Ok, please update to v2.4.1
if by any chance you turn on quietDeps it would break your build again but I consider that a minor inconvenient
I will ship a fix for that when I am back from my holidays

[2022-11-18 18:13] #102 closed

[2022-11-21 12:40] klaustopher commented on #102
Hey, thanks, checked it out and it works. Thank you for the quick fix.

[2022-11-25 14:06] iliocatallo opened #104 "Different alternatives for `type` between Usage and Options section"
Hi!

I noticed that the [Usage](https://github.com/glromeo/esbuild-sass-plugin#usage) section reports `style`, `css-text` and `lit-css` as possible alternatives for `type`. On the other hand, the table under [Option](https://github.com/glromeo/esbuild-sass-plugin#options) indicates `css` (as opposed to `css-text`), `style` and `lit-css` as supported variants.

Thank you,
Ilio.

[2022-11-25 16:06] glromeo commented on #104
Yup, thank you pointing that out Ilio. Indeed I have to tidy up the README. `css-text` is different from `css` (which delegates to `esbuild` the bundling) it's like `lit-css` but for when you want to just put the text yourself in a shadow dom style.

[2022-11-28 01:07] samhuk opened #105 "Failed incremental rebuilds no longer pick up SCSS code changes"
I think this has been a bug for a while (>1 year). I'm only getting around to reporting it now as it's very niche and quite difficult to explain.

In short, esbuild-sass-plugin appears to not pick up changes made to fix SCSS code errors when using esbuild's incremental `rebuild()` functionality. This is much easier to explain with code.

Have a basic file structure like so:
[code]

index.ts:
[code

[2022-11-29 05:18] #104 closed

[2022-11-29 06:11] #105 closed

[2022-11-29 06:12] glromeo commented on #105
Thank you @samhuk that was a spot on and helpful issue report!
Please update to v2.4.2

[2022-11-29 12:26] samhuk commented on #105
Wow, that was quick! I wasn't sure if my explanation of it was going to be good, it's really hard to explain such a bug that contains so many little details.

I can confirm in my own projects that this change has fixed the bug, too. My hot-reloading now 100% works 😄

Thank you very much @glromeo !!